---
layout: default
title : Publications
navbar_title: Publications
---

{% assign all_pubs = site.publications | sort: "date" | reverse %}
{% assign working_pubs = all_pubs | where_exp: "item", "item.pub == nil" %}
{% assign empty_pubs = all_pubs | where_exp: "item", "item.pub == ''" %}
{% assign working_pubs = working_pubs | concat: empty_pubs %}
{% assign regular_pubs = all_pubs | where_exp: "item", "item.pub != nil" %}
{% assign regular_pubs = regular_pubs | where_exp: "item", "item.pub != ''" %}
{% assign pubs_by_year = regular_pubs | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12">
        {% if working_pubs.size > 0 %}
        <h2 class="pt-4" id="working-papers">Working Papers</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in working_pubs %}
                {% include widgets/publication_item.html 
                    item=item 
                    hide_bottom_border=forloop.last 
                    first=forloop.first 
                    last=forloop.last 
                    pub_status="Under review" %}
            {% endfor %}
        </div>
        {% endif %}

        {% for year in pubs_by_year %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in year.items %}
                {% include widgets/publication_item.html 
                    item=item 
                    hide_bottom_border=forloop.last 
                    first=forloop.first 
                    last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>