---
layout: default
title : Publications
navbar_title: Publications
---

{% assign all_pubs = site.publications | sort: "date" | reverse %}
{% assign working_pubs = all_pubs | where_exp: "item", "item.pub == nil" %}
{% assign empty_pubs = all_pubs | where_exp: "item", "item.pub == ''" %}
{% assign working_pubs = working_pubs | concat: empty_pubs %}
{% assign regular_pubs = all_pubs | where_exp: "item", "item.pub != nil" %}
{% assign regular_pubs = regular_pubs | where_exp: "item", "item.pub != ''" %}
{% assign pubs_by_year = regular_pubs | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12">
        {% if working_pubs.size > 0 %}
        <h2 class="pt-4" id="working-papers">Working Papers</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in working_pubs %}
                <div class="d-none d-md-block">
                    <div class="row no-gutters {% unless forloop.last %}border-bottom{% endunless %} border-gray">
                        <div class="col-md-3 col-xl-2 mb-md-0 p-md-3 d-none">
                        </div>
                        <div class="col-md-9 col-xl-10 p-3 pl-md-3">
                            <h5 class="mt-0 mb-1 font-weight-normal">{{ item.title }}</h5>
                            <p class="mt-0 mb-0 small">{% include widgets/author_list.html authors=item.authors %}</p>
                            <p class="mt-0 mb-0 small">Under review {{ item.pub_date }} <span data-semantic-scholar-id="{{ item.semantic_scholar_id }}"></span></p>
                            <p class="mt-0 mb-0 small text-muted">{{ item.abstract }}</p>
                            
                            <p class="small pb-0 mb-0 lh-125 text-muted abstract-links">
                                {% for link in item.links %}
                                {% if link[1].url %}
                                <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">[{{ link[0] }}]</a>
                                {% else %}
                                <a target="_blank" href="{{ link[1] }}">[{{ link[0] }}]</a>
                                {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters d-md-none {% unless forloop.last %}border-bottom{% endunless %} border-gray {% if forloop.first %}rounded-xl-top{% endif %} {% if forloop.last %}rounded-xl-bottom{% endif %}">
                    <div class="w-100 {% if forloop.first %}rounded-xl-top{% endif %} {% if forloop.last %}rounded-xl-bottom{% endif %}" style="background-color: rgba(255,255,255,0.9);">
                        <div class="d-flex align-items-start flex-column py-3 px-4 pl-4">
                            <div class="mb-auto"></div>
                            <div>
                                <h5 class="mt-0 mb-1 font-weight-normal">{{ item.title }}</h5>
                                <p class="mt-0 mb-0 small">{% include widgets/author_list.html authors=item.authors %}</p>
                                <p class="mt-0 mb-0 small">Under review {{ item.pub_date }} <span data-semantic-scholar-id="{{ item.semantic_scholar_id }}"></span></p>
                                <p class="mt-0 mb-0 small text-muted">{{ item.abstract }}</p>
                                
                                <p class="small pb-0 mb-0 lh-125 text-muted abstract-links">
                                    {% for link in item.links %}
                                    {% if link[1].url %}
                                    <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">[{{ link[0] }}]</a>
                                    {% else %}
                                    <a target="_blank" href="{{ link[1] }}">[{{ link[0] }}]</a>
                                    {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>