{% comment %}
  Publication card widget for displaying publications
  Parameters:
    - publications: array of publication items
    - title: optional card title
    - limit: optional limit on number of items to display
{% endcomment %}

{% assign publications = include.publications %}
<div class="my-3 p-0 bg-white shadow-sm rounded-xl publication-card">
    <h6 class="border-bottom border-gray p-3 mb-0">
        {% if include.title %}{{ include.title }}{% else %}Selected Recent Publications{% endif %} 
        <a href="{{ 'publications' | relative_url }}">(view all <i class="fas fa-angle-double-right"></i>)</a>
    </h6>
    {% for item in publications limit:include.limit %}
        {% if item.pub == nil or item.pub == '' %}
            {% include widgets/publication_item.html 
                item=item 
                hide_bottom_border=forloop.last 
                first=forloop.first 
                last=forloop.last 
                pub_status="Under review" %}
        {% else %}
            {% include widgets/publication_item.html 
                item=item 
                hide_bottom_border=forloop.last 
                first=false 
                last=false %}
        {% endif %}
    {% endfor %}
    <h6 class="d-block p-3 mt-0 text-right">
        <a href="{{ 'publications' | relative_url }}">All publications <i class="fas fa-angle-double-right"></i></a>
    </h6>
</div>