{% comment %}
  Publication item component with desktop and mobile views
  Parameters:
    - item: publication item object
    - hide_bottom_border: boolean to hide bottom border
    - first: boolean for first item styling
    - last: boolean for last item styling
{% endcomment %}

{% assign item = include.item %}
{% assign border_class = "border-bottom border-gray" %}
{% unless include.hide_bottom_border %}{% assign show_border = true %}{% endunless %}

<!-- Desktop view -->
<div class="d-none d-md-block">
    <div class="row no-gutters {% if show_border %}{{ border_class }}{% endif %}">
        <div class="col-md-2 col-xl-1 mb-md-0 p-md-3 d-none"></div>
        <div class="col-md-10 col-xl-11 p-3 pl-md-3">
            {% include widgets/publication_content.html item=item pub_status=include.pub_status %}
        </div>
    </div>
</div>

<!-- Mobile view -->
<div class="row no-gutters d-md-none {% if show_border %}{{ border_class }}{% endif %} {% if include.first %}rounded-xl-top{% endif %} {% if include.last %}rounded-xl-bottom{% endif %}">
    <div class="w-100 {% if include.first %}rounded-xl-top{% endif %} {% if include.last %}rounded-xl-bottom{% endif %}" style="background-color: rgba(255,255,255,0.9);">
        <div class="d-flex align-items-start flex-column py-3 px-4 pl-4">
            <div class="mb-auto"></div>
            <div>
                {% include widgets/publication_content.html item=item pub_status=include.pub_status %}
            </div>
        </div>
    </div>
</div>